@import "../../scss/index.scss";

.custom-button-default {
    $background: var(--color-text-primary-m);
    $text: #fff;
    $font-size: font-size2(font-size-desktop);
    @include media-laptop {
        &{

            $font-size: font-size2(font-size-mobile);
        }
    }
    --duration: .5s;
    --move-hover: -2px;
   
    margin: 0 40px 0 0;
    padding: 12px 24px;
    border-radius: 24px;
    display: block;
    border: none;
    cursor: pointer;
    font-size: $font-size;
    background: $background;
    color: $text;
    transform: translateY(var(--y));
    transition: transform .5s ease, box-shadow .5s ease;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    div {
        display: flex;
        span {
            display: block;
            backface-visibility: hidden;
            
            $i: 1;
            @while $i < 12 {
                &:nth-child(#{$i}) {
                    --d: #{$i / 20 + s};
                }
                $i: $i + 1;
            }
        }
    }
    &:hover {
        --y: var(--move-hover);
        --move: -2px;
        --shadow-active: 0 3px 1px rgba(0, 0, 0, .2);
        span {
            animation: -2px .5s linear var(--d);
        }
    }
  
    &.drive {
       
        &:hover {
            span {
             
                transform-origin: 50% 100%;
                animation: drive 1s linear var(--d);
            }
        }
    }
}


@keyframes drive {
    40% {
        opacity: 1;
    }
    55% {
        transform: skewX(25deg) translateX(16px);
    }
    56% {
        transform: skewX(40deg) translateX(calc(16px * -1));
    }
    55%,
    56% {
        opacity: 0;
    }
    75% {
        transform: skewX(25deg);
    }
    85% {
        transform: skewX(16px);
    }
}