.home-container {
    grid-column: center-start / center-end;
    grid-row: center-start/ [container-end];
    min-height: fit-content;
    margin: 10px 20px;
    display:flex;
    align-items: center;
    font-size: 36px;
    line-height: 1.3;
    max-height: 95vh;
    overflow: hidden;
    .home-rows {
       width: 20px;
       color: var(--color-text-primary);
       margin: auto 0;
       
       .home-row{
       }
    }

    .home-welcome-text {
        // margin-top: 17%;
        // height: 36%;
        // margin: auto 0 auto 80px;
        margin-left: 80px;
        position: relative;
        span {
            display: inline-block;
            text-indent: 10px;
        }
        span:nth-child(8),
        span:nth-child(22) {
            text-indent: 40px;
        }

        span:nth-child(12),
        span:nth-child(17) {
            text-indent: 80px;
        }
        
        span:nth-child(9),
        span:nth-child(13),
        span:nth-child(20) {
            text-indent: 0;
        }
        
        .text-blink {
            position: absolute;
            display: block;
            top: 140px;
            right: -20px;
        }
      
    }
}