.home-container {
    grid-column: center-start / center-end;
    grid-row: center-start/ [container-end];
    min-height: fit-content;
    margin: 10px 20px;
    display:flex;
    align-items: center;
    font-size: 36px;
    .home-rows {
       width: 20px;
       color: var(--color-text-primary);

       .home-row{
           padding: 3px;
       }
    }

    .home-welcome-text {
        margin-left: 80px;
        
        div {
            padding: 3px;
        }
       
        span {
            display: inline-block;
            text-indent: 10px;
        }
        span:nth-child(8),
        span:nth-child(22) {
            text-indent: 40px;
        }

        span:nth-child(12),
        span:nth-child(17) {
            text-indent: 80px;
        }

        span:nth-child(9),
        span:nth-child(13),
        span:nth-child(20) {
            text-indent: 0;
        }

        // span:nth-child(2),
        // span:nth-child(5) {
        //     text-indent: 40px;
        // }
        // span:nth-child(3),
        // span:nth-child(4){
        //     text-indent: 80px;
        // }
    }
}