@import "../../scss/index.scss";

.home-container {
    @include container-basic(font-size(font-size-desktopL));
    align-items: center;
    @include responsiveTitle;
    .home-welcome-text {
        font-size: 1.5em;
        margin: 45px 0 0 80px;
        position: relative;
        span {
            display: inline-block;
            text-indent: 10px;
        }
        span:nth-child(8),
        span:nth-child(22) {
            text-indent: 40px;
        }

        span:nth-child(12),
        span:nth-child(17) {
            text-indent: 80px;
        }
        
        span:nth-child(9),
        span:nth-child(13),
        span:nth-child(20) {
            text-indent: 0;
        }
        
        .text-blink {
            position: absolute;
            display: block;
            top: 210px;
            right: -20px;
        }
        
    }

    .home-rows {
        width: 10px;
        font-size: 1.5em;
    }

    @include media-desktop {
       & {
            .home-welcome-text {
                margin: 27px 0 0 80px;
                .text-blink {
                    top: 210px;
                }
            }
        };
    }

    @include media-laptop {
       & {
            .home-welcome-text {
                margin: 90px 0 0 80px;
                .text-blink {
                    top: 163px;
                }
            }
        };
    }
    @include media-tablet {
        & {
            .home-welcome-text {
                .text-blink {
                    top: 140px;
                }
            }
           
        }
    }

    @include media-mobile {
       & {
           margin: 10px 5px;

            .home-welcome-text {
                

                .text-blink {
                    top: 120px;
                }
            };
 
         } 
    }

    @media screen and (max-width: 540px) {
        &{
            .home-welcome-text {
                font-size: 1.3em;
                margin: 60px 0 0 40px;

                .text-blink {
                    top: 105px;
                }
            }    
        }

        .home-rows {
            font-size: 1.4em;
        }
    }

    @include media-mobileS {
        & {
            height: calc(100vh - 120px);
            .home-welcome-text {
                font-size: 1.25em;
               margin: auto;
               

                .text-blink {
                    top: 90px;
                }
            }
            .home-rows {
                display: none;
            }
        }
    }

    
}
