@import "../../scss/index.scss";

.project-container {
   $width-text: 40%;
   $width-image: 53%;
   $width-space-between: 1%;
   @media screen and (max-width: 700px) {
      & {
         $width-text: 100%;
         $width-image: 100%;
      }
   }
   margin: 50px 60px 100px 60px;
   padding: 0 50px;

   display: grid;
   width: 100%;
   grid-template-columns: repeat(2, minmax(0, 1fr));
   grid-gap: 30px;
   position: relative;
   justify-content: center;

   place-items: start center;
   @include responsiveText;
   @include media-mobile {
      & {
         width: 100%;
      }
   }

   .project-content {
      white-space: wrap;
      width: $width-text;
      grid-column: 1 / 2;
      &--title {
         font-size: 1.3em;
         margin-bottom: 30px;
      }

      &--about {
         display: inline-block;
         line-height: 1.3;
      }

      &--technologies {
         margin-top: 20px;
         margin-left: 20px;
      }

      &__button-container {
         display: flex;
         justify-content: flex-start;
         margin-top: 20px;

         .github-link {
            margin-left: 40px;
            display: flex;
            cursor: pointer;
            position: relative;

            &:hover,
            &:active {
               transition: transform 0.5s ease;
               transform: translateY(-4px);

               &::after {
                  content: "Check the code";

                  bottom: 20px;
                  left: 48px;
                  display: block;
                  font-size: font-size2(font-size-mobileS);
                  inline-size: max-content;
                  color: var(--color-text-secondary);
                  padding: 2px 3px;
                  position: absolute;
                  border-radius: 5px;
                  border: 1px solid var(--color-text-primary);
                  box-shadow: 0 4px 20px -2px rgba(var(--color-box-shadow), 0.5);

                  @include media-mobile {
                     & {
                        bottom: 50px;
                        left: -55px;
                     }
                  }
               }
            }

            .git-logo {
               width: 45px;
               height: 45px;
            }
         }
      }
   }
   .project-image {
      grid-column: 2 / 3;
      margin-left: $width-space-between;
      display: flex;
      width: 100%;

      min-height: 80vh;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top right;
      @include media-tablet {
         & {
            min-height: 50vh;
         }
      }
   }

   @include media-mobile {
      & {
         display: flex;
         flex-direction: column-reverse;
         align-items: center;
         margin: 10px 20px 0px 20px;
         padding-bottom: 70px;
         padding-top: 40px;
         .project-image {
            min-height: 40vh;
            background-position: center;
         }

         .project-content {
            &--title {
               top: -10px;
               position: absolute;

               text-align: center;
               width: 90%;
            }

            &__button-container {
               justify-content: center;
            }
         }
      }
   }

   @include media-mobileS {
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 20px;

      & {
         .project-image {
            min-height: 35vh;
         }
         .project-content {
            &--title {
               top: -15px;
            }
         }
      }
   }
}
