@import "../../scss/index.scss";

.project-container {
    $width-text: 40%;
    $width-image: 53%;
    $width-space-between: 1%;
    margin: 70px 20px 0px 20px;
    display: flex;
    position: relative;
    justify-content: center;
    width: 80%;
    height: calc(100vh - 120px);
  
    @include media-laptop {
        &{
            width: 100%;
        }
    }
    .project-content {
   
        width: $width-text;
       
        &--title {
            margin-bottom: 30px;
            font-size: font-size2(font-size-desktopL);
            

            @include media-laptop {
                &{
                    font-size: font-size2(font-size-desktop);
                }
            }
        }

        &--about {
            font-size: font-size2(font-size-laptop);
            display: inline-block;
            line-height: 1.3;
            @include media-laptop {
                &{
                    font-size: font-size2(font-size-mobile);
                }
            }
        }

        &--technologies {
            font-size: font-size2(font-size-laptop);
            margin-top: 20px;
            margin-left: 20px;

            @include media-laptop {
                &{
                    font-size: font-size2(font-size-mobile);
                }
            }
        }

        &__button-container {
            display: flex;
            justify-content: flex-start;
            margin-top: 20px;

            .github-link {
                margin-left: 40px;
                display: flex;
                cursor: pointer;
                position: relative;
               

                

                &:hover,
                &:active {
                    transition: transform .5s ease;
                    transform:translateY(-4px);

                    &::after {
                        content: "Check the code";
                       
                        bottom: 20px;
                        left: 48px;
                        display: block;
                        font-size: font-size2(font-size-mobileS);
                        inline-size: max-content;
                        color: var(--color-text-secondary);
                        padding: 2px 3px;
                        position: absolute;
                        border-radius: 5px;
                        border: 1px solid var(--color-text-primary);
                        box-shadow: 0 4px 20px -2px rgba(var(--color-box-shadow), .5)
                    }
                }

                .git-logo{
                    width: 45px;
                    height: 45px;
                }
            }
        
        }
    }
    .project-image {
        margin-left: $width-space-between;
        width: $width-image;
        height: 100%;
    
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top right;
    }  
}
