@import "../../scss/index.scss";

.project-container {
    margin: 70px 20px 0px 20px;
    display: flex;
    position: relative;
    justify-content: center;
    width: 80%;
    height: calc(100vh - 80px);
  
    @include media-laptop {
        &{
            width: 100%;
        }
    }
    .project-content {
        margin-right: 3%;
        width: 45%;
       
        &--title {
            margin-bottom: 30px;
            font-size: font-size2(font-size-desktopL);
            

            @include media-laptop {
                &{
                    font-size: font-size2(font-size-desktop);
                }
            }
        }

        &--about {
            font-size: font-size2(font-size-laptop);
            display: inline-block;
            line-height: 1.3;
            @include media-laptop {
                &{
                    font-size: font-size2(font-size-mobile);
                }
            }
        }

        &--technologies {
            font-size: font-size2(font-size-laptop);
            margin-top: 20px;
            margin-left: 20px;

            @include media-laptop {
                &{
                    font-size: font-size2(font-size-mobile);
                }
            }
        }

        &__button-container {
            display: flex;
            margin-top: 20px;
        
        }
    }
    .project-image {
        width: 45%;
        height: 100%;
    
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top right;
    }  
}