.navigation {
 
    
    // margin-left: 150px;
    // width: 100vw;
    // height: 70px;
    // background-color: var(--color-background-secondary-m);
    // display: flex;
    // align-items: center;
   
           
    //     .nav-link {
    //         color: var(--color-text-primary-m);
    //         width: 200px;
    //         min-width: fit-content;
    //         height: inherit;
    //         background-color: var(--color-background-secondary-m);
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         cursor: pointer;
    //         margin: auto 0;
    //         border: 1px solid black;
          
    //     }

    //     .nav-link-clicked {
    //         background-color: var(--color-background-secondary);
    //         border-top: 5px solid var(--color-text-primary-m)
    //     }
   
}