.default-link {
    color: var(--color-text-primary-m);
    width: max-content;
    height: inherit;
    background-color: var(--color-background-secondary-m);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0px 1px;
    border: none;
    padding: 0 calc(5px + 2vw);

    &.header-link-clicked {
        background-color: var(--color-background-secondary);
        border-top: 5px solid var(--color-text-primary-m)
    }
}

