.default-link {
   color: var(--color-text-primary-m);
   width: max-content;
   height: inherit;
   background-color: var(--color-background-secondary-m);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   margin: 0px 1px;
   border: none;
   padding: 0 calc(5px + 2vw);
   transition: all 0.5s;
   position: relative;

   &::after,
   &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: 15px;
      height: 15px;
      background-color: var(--color-text-primary-m);
      border-radius: 50%;
      transform: translateY(-50%);
      transition: all 0.3s, background-color 0s;
      opacity: 0;
   }

   &::before {
      left: 0;
      box-shadow: -80px 0px 0 var(--color-text-primary-m);
   }

   &::after {
      right: 0;
      box-shadow: 80px 0px 0 var(--color-text-primary-m);
   }

   &:hover::before {
      left: 50%;
      box-shadow: 20px 0px 0 var(--color-text-primary-m);
      transform: translate(-50%, -50%);
      opacity: 1;
   }

   &:hover::after {
      right: 50%;
      box-shadow: -20px 0px 0 var(--color-text-primary-m);
      transform: translate(50%, -50%);
      opacity: 1;
   }

   & span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-background-secondary-m);
      transform: scale(0);
      transition: all 0.3s, background-color 0s;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px dashed var(--color-text-primary-m);
      z-index: 99;
   }

   &:hover span {
      transform: scale(1);
      transition-delay: 0.3s;
   }

   &:hover {
      transition-delay: 0.3s;
      border-top: 5px solid var(--color-text-primary-m);
   }

   &.header-link-clicked {
      transition-delay: 0s;
      background-color: var(--color-background-secondary);
      border-top: 5px solid var(--color-text-primary-m);
   }

   &.header-link-clicked span {
      opacity: 0;
   }

   &.header-link-clicked::after,
   &.header-link-clicked::before {
      opacity: 0;
   }
}
