.default-link {
   color: var(--color-text-primary-m);
   width: max-content;
   height: inherit;
   background-color: var(--color-background-secondary-m);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   margin: 0px 1px;
   border: none;
   padding: 0 calc(5px + 2vw);
   position: relative;

   &::after,
   &::before {
      content: "";
      top: 0%;
      height: 5px;
      width: 0px;
      position: absolute;
      background-color: var(--color-text-primary-m);
      transition: all 0.4s;
   }

   &::after {
      left: 50%;
   }

   &::before {
      right: 50%;
   }

   &:hover::after,
   &:hover::before {
      width: 50%;
   }

   &.header-link-clicked {
      background-color: var(--color-background-secondary);
      border-top: 5px solid var(--color-text-primary-m);
   }

   &.header-link-clicked::after,
   &.header-link-clicked::before {
      transition: none;
      opacity: 0;
   }
}
