@import "../../scss/index.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap');

.readme-container {
    @include container-basic(font-size2(font-size-desktopL));

    .readme-row {
        @include responsiveText;
        width: 10px;
    }
    
    .readme-content {
        $color-title: var(--color-text-quinary);
        $color-text: var(--color-text-secondary);
        color: $color-title;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: calc(10px + 2vw);
        padding: 0 calc(10px + 7vw);
        @include responsiveTitle;
        
        &--introduction {
            
            color: $color-text;
            
            margin: 0px 10px 25px 10px;
            padding: 20px 0;
            text-align: left;
            font-family: 'Raleway', sans-serif;
        
            font-weight: 400;
        
            @include responsiveText;
           
            .part1 {
                display: block;
            }
            .part2 {
                margin-top: 10px;
                display: block;
                            
            }
            .contact-button {
                display: none;
                margin-left: 10px;
                cursor: pointer;
                
            }
            &:hover,
            &:active {
                .contact-button {
                    display: inline-block;
                    animation: shake 1.4s ease-in-out forwards
                    
                }         
            }        
        }
      
        &__logos-container {
            height: max-content;
            display: flex;
            color: $color-text;
            @include responsiveText;
            div {
                padding: 10px 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
            }

            .logo {
                margin: 20px;
                width: 60px;
                height: auto;
                display: flex;

                @media screen and (max-width: 700px) {
                    & {
                        margin: 10px;
                        width: 40px;
                    }
                }

            }
            
        
        }
    }
}

@keyframes shake {
    50% {
        transform: scale(1.05)
    };
   
    100% {
        transform: scale(1)
    };
}

