@import "../../scss/index.scss";

.readme-container {
    @include container-basic(32px);
 
    .readme-content {
       color: var(--color-text-quinary);
       display: flex;
      
       width: 100%;
       flex-direction: column;
       align-items: center;
       padding: 0 30px;
       &--introduction {
           color:var(--color-text-secondary);
           margin: 10px 0 40px 0;
           font-size: 30px;
           text-align: middle;
       }

       &__logos-container {
           height: max-content;
            display: flex;
            font-size: 20px;
            div {
                padding: 10px 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
            }


            .logo {

                margin: 20px;
                width: 60px;
                height: auto;
                display: flex;
            }
           
     
       }
    }
}