@import "../../scss/index.scss";

.contact-container {
    @include container-basic(32px);
    flex-direction: column; 
    @include responsiveText;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    color: var(--color-text-secondary);
    
    &--title {
        @include responsiveTitle;
    }
    &--subtitle {
        margin-top: 10px;
        line-height: 1.4;
    }
    .contact-form {
       
        button {
            width: 30%;
            margin: auto;
        }
    }

    &--validation-message {
        padding-top: 10px;
        @include responsiveTextS
    }

    .spinner {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: black;
        opacity: 0.5;

        display: flex;
        justify-content: center;
        align-items: center;
        .spinner-inner {
            display: inline-block;
            margin: auto;
            width: 50px;
            height: 50px;
            border: 3px solid var(--color-background-side-nav);
            border-radius: 50%;
            border-top-color: var(--color-text-primary);
            animation: spin 1s ease-in-out infinite;
        }
    }

    
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
