@import "../../scss/index.scss";

.contact-container {
    @include container-basic(32px);
    flex-direction: column; 
    @include responsiveText;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px);
    color: var(--color-text-secondary);

    
    &--title {
        @include responsiveTitle;
    }
    &--subtitle {
        margin-top: 10px;
        line-height: 1.4;
    }
    .contact-form {
       
        button {
            width: 30%;
            margin: auto;
        }
    }

    &--validation-message {
        padding-top: 10px;
        @include responsiveTextS
    }

}
