@import "../../scss/index.scss";

.contact-container {
    @include container-basic(32px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    .contact-form {
       
    }

}