@import "../../scss/index.scss";

.projects-container {
    @include container-basic(font-size2(font-size-desktopL));
    color: var(--color-text-secondary);
    
    justify-content: center;
    align-items: center;
    letter-spacing: .5px;
    flex-direction: column;
    max-height: max-content;
    position: relative;

    .scroll-button {
        background-color: transparent;
        border: none;
        outline: none;
        position: absolute;
        top: 80vh;
        cursor: pointer;
        z-index: 2;
        
        .mouse {
            max-width: 36px;
            width: 100%;
            height: auto;
            .scroll {
                pointer-events: none;
                animation-name: scroll;
                animation-duration: 1.5s;
                animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
                animation-iteration-count: infinite;
                transform-origin: 50% 20.5px;
                will-change: transform;
                }
                
          }
    }
 
    
      @keyframes scroll {
        0%, 20% {
        transform: translateY(0) scaleY(1);
        }
        10% {
            opacity: 1;
            }
            100% {
            transform: translateY(36px) scaleY(2);
            opacity: 0.01;
            }
      }
}
