@import "../../scss/index.scss";

.projects-container {
    @include container-basic(font-size2(font-size-desktopL));
    color: var(--color-text-secondary);

    justify-content: center;
    letter-spacing: .5px;

    .project-container {
        margin: 30px 20px;
        display: flex;
        position: relative;
        justify-content: center;
        width: 100%;
        height: 600px;
        .project-content {
            margin-right: 3%;
            width: 45%;
           
            &--title {
                margin-bottom: 30px;
                font-size: font-size2(font-size-desktopL);

                @include media-laptop {
                    &{
                        font-size: font-size2(font-size-desktop);
                    }
                }
            }

            &--about {
                font-size: font-size2(font-size-laptop);
                display: inline-block;
                line-height: 1.3;
                @include media-laptop {
                    &{
                        font-size: font-size2(font-size-mobile);
                    }
                }
            }

            &--technologies {
                font-size: font-size2(font-size-laptop);
                margin-top: 20px;
                margin-left: 20px;

                @include media-laptop {
                    &{
                        font-size: font-size2(font-size-mobile);
                    }
                }
            }

            &__button-container {
                display: flex;
                margin-top: 20px;
                .button {
                    --background: #275efe;
                    --text: #fff;
                    --font-size: 16px;
                    --duration: .5s;
                    --move-hover: -2px;
                    
                    margin: 0 40px 0 0;
                    padding: 12px 24px;
                    border-radius: 24px;
                    display: block;
                    border: none;
                    cursor: pointer;
                    font-size: font-size2(font-size-mobile);
                    background: var(--color-text-primary-m);
                    color: var(--color-text-secondary);
                    transform: translateY(var(--y));
                    transition: transform .5s ease, box-shadow .5s ease;
                    -webkit-tap-highlight-color: transparent;
                    -webkit-appearance: none;
                    div {
                        display: flex;
                        span {
                            display: block;
                            backface-visibility: hidden;
                            
                            $i: 1;
                            @while $i < 12 {
                                &:nth-child(#{$i}) {
                                    --d: #{$i / 20 + s};
                                }
                                $i: $i + 1;
                            }
                        }
                    }
                    &:hover {
                        --y: var(--move-hover);
                        --move: -2px;
                        --shadow-active: 0 3px 1px rgba(0, 0, 0, .2);
                        span {
                            animation: -2px .5s linear var(--d);
                        }
                    }
                  
                    &.drive {
                       
                        &:hover {
                            span {
                             
                                transform-origin: 50% 100%;
                                animation: drive 1s linear var(--d);
                            }
                        }
                    }
                }
                
                
                @keyframes drive {
                    40% {
                        opacity: 1;
                    }
                    55% {
                        transform: skewX(25deg) translateX(16px);
                    }
                    56% {
                        transform: skewX(40deg) translateX(calc(16px * -1));
                    }
                    55%,
                    56% {
                        opacity: 0;
                    }
                    75% {
                        transform: skewX(25deg);
                    }
                    85% {
                        transform: skewX(16px);
                    }
                }
    
              
            }
        }
        .project-image {
           height: 100%;
           width: 45%;
          
            background-size:cover;
            background-repeat: no-repeat;
        
        }  
    }
}







