@import "../../scss/index.scss";

.spinner {
   height: 96vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   .spinner-inner {
      width: 70px;
      display: flex;

      span {
         width: 10px;
         height: 60px;
         margin: 0px 1px;
         background-color: white;
         animation: loading 0.8s ease-in-out infinite;
      }

      span:nth-child(1) {
         background-color: #2eeca8;
         animation-delay: 0.2s;
      }
      span:nth-child(2) {
         background-color: #eade3d;
         animation-delay: 0.3s;
      }
      span:nth-child(3) {
         background-color: #55acee;
         animation-delay: 0.4s;
      }
      span:nth-child(4) {
         background-color: #ec902e;
         animation-delay: 0.5s;
      }
      span:nth-child(5) {
         background-color: #09b7bf;
         animation-delay: 0.6s;
      }
      span:nth-child(6) {
         background-color: palevioletred;
         animation-delay: 0.7s;
      }
   }
}
