@import "../../scss/index.scss";

.spinner {
   height: 97vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;

   .spinner-inner {
      background-color: transparent;
      border: 10px solid var(--color-text-primary);
      border-radius: 50%;
      width: 80px;
      height: 80px;
      border-top-color: var(--color-background-side-nav);
      border-left-color: var(--color-background-side-nav);
      position: relative;
      animation: spin 1s infinite;
   }

   .spinner-inner::before {
      content: "";
      top: 0;
      left: 0;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      background-color: var(--color-text-primary);
      position: absolute;
      transform: translate(-14px, 23px);
   }

   .spinner-inner::after {
      content: "";
      top: 0;
      right: 0;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      background-color: var(--color-text-primary);
      transform: translate(-23px, -14px);
      position: absolute;
   }
}

@keyframes spin {
   100% {
      transform: rotate(360deg);
   }
}
