@import "../../scss/index.scss";

.header {
    
    grid-column: center-start / container-end;
    grid-row: container-start / center-start;

    @include responsiveText;
    
    height: 70px;
    background-color: var(--color-background-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-line);
    padding-bottom: 1px;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0 2px 8px -1px rgba(var(--color-box-shadow), .22);
    @media screen and (max-width: 700px) {
        &{
            border-bottom: none;
            box-shadow: none;
        }
    }
     // overflow: hidden;
    &__link-container {
        
        display: flex;
        align-items: center;
        height: 100%;
        
        // hide below 700px
        @media screen and (max-width: 700px) {
            &{
                font-size: 1.2em;
                display: none;
            }
        }

        &.overlay {
            top: 0;
            background-color: var(--color-background-secondary-m);
            position: absolute;
            height: 100vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transform-origin: top;
            animation: show 0.3s ease-in-out;
            
    

            @media screen and (min-width: 701px) {
                &{
                    display: none;
                }
            }
           
            a { 
                margin: 20px 0;
                height: 40px;
                padding: 25px calc(5px + 2vw);;
            }
        }

    }
   
    &__toogle-theme-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px calc(10px + 3vw);
        z-index: 2;

        @media screen and (max-width: 700px) {
            &{
                font-size: 1.3em;
            }
        }
        
        .switch-theme {
            background-color: var(--color-switch-button);
            width: 65px;
            height: 35px;
            border-radius: 50px;
            position: relative;
            border: none;
            margin: 0 10px;
            cursor: pointer;
         
            &::after {
                transition: transform 0.3s ease-in-out;
                position: absolute;
                display: block;
                content: '';
                background-color: var(--color-text-primary);
                width: 29px;
                height: 33px;
                border-radius: 100%;
                margin: 1px;  
                top: 0;
            }
        }
        .light {
           
            &::after {
                background-color: white;
                transform: translateX(31px);
                border-radius: 5;
            }
        }

        
        
    }
    
    &__hamburger {
        width: 55px;
        height: 40px;
        margin: 0 25px;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        padding: 30px;
        cursor: pointer;

        span {
  
            display: block;
            position: absolute;
            height: 6px;
            width: 50%;
            margin: 8px 0;
            background: var(--color-text-primary);
            opacity: 1;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }

        span:nth-child(even) {
            left: 50%;
            border-radius: 0 9px 9px 0;
          }
          
          span:nth-child(odd) {
            left:0px;
            border-radius: 9px 0 0 9px;
          }
          
          span:nth-child(1), span:nth-child(2) {
            top: 0px;
          }
          
          span:nth-child(3), span:nth-child(4) {
            top: 18px;
          }
          
          span:nth-child(5), span:nth-child(6) {
            top: 36px;
          }
          
          &.open span:nth-child(1), &.open span:nth-child(6) {
            transform: rotate(45deg);
          }
          
          &.open span:nth-child(2), &.open span:nth-child(5) {
            transform: rotate(-45deg);
          }
          
          &.open span:nth-child(1) {
            left: 5px;
            top: 7px;
          }
          
          &.open span:nth-child(2) {
            left: calc(50% - 5px);
            top: 7px;
          }
          
          &.open span:nth-child(3) {
            left: -50%;
            opacity: 0;
          }
          
          &.open span:nth-child(4) {
            left: 100%;
            opacity: 0;
          }
          
          &.open span:nth-child(5) {
            left: 5px;
            top: 29px;
          }
          
          &.open span:nth-child(6) {
            left: calc(50% - 5px);
            top: 29px;
          }
    
        // show only below 700px
       @media screen and (min-width: 701px) {
           &{
               display: none;
           }
       }
    }
    
}

@keyframes show {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}
