@import "../../scss/index.scss";

.header {
    
    grid-column: center-start / container-end;
    grid-row: container-start / center-start;
    
    // width: calc(100vw - 80px);

    @include responsiveText;
    height: 70px;
    background-color: var(--color-background-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-line);
    padding-bottom: 1px;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0 2px 8px -1px rgba(var(--color-box-shadow), .22);
    &__link-container {
        display: flex;
        align-items: center;
        height: 100%;
    }
   
    &__toogle-theme-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: calc(10px + 3vw);
        .switch-theme {
            background-color: var(--color-switch-button);
            width: 60px;
            height: 30px;
            border-radius: 50px;
            position: relative;
            border: none;
            margin: 0 10px;
            cursor: pointer;
         
            &::after {
                transition: transform 0.3s ease-in-out;
                position: absolute;
                display: block;
                content: '';
                background-color: var(--color-text-primary);
                width: 27px;
                height: 28px;
                border-radius: 100%;
                margin: 1px;  
                top: 0;
            }
        }
        .light {
           
            &::after {
                background-color: white;
                transform: translateX(31px);
                border-radius: 5;
            }
        }
        
    }
    
}