@import "../../scss/index.scss";

.navbar {
   grid-column: center-start / container-end;
   grid-row: container-start / center-start;

   @include responsiveText;

   height: 70px;
   background-color: var(--color-background-primary);
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 2px solid var(--color-line);
   padding-bottom: 1px;
   position: sticky;
   top: 0;
   z-index: 3;
   box-shadow: 0 2px 8px -1px rgba(var(--color-box-shadow), 0.22);
   @media screen and (max-width: 700px) {
      & {
         border-bottom: none;
         box-shadow: none;
      }
   }

   &__link-container {
      display: flex;
      align-items: center;
      height: 100%;

      @include media-mobile {
         left: 0;
         top: 0;
         position: absolute;
         width: 100vw;
         height: 0;
         font-size: 1.2em;
         background-color: var(--color-background-secondary-m);
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         overflow: hidden;
         transition: all 0.3s;

         a {
            font-size: 1.2em;
            margin: 10px 0;
            height: 70px;
            width: 200px;
            opacity: 0;
         }
      }

      &.overlay-open {
         height: 100vh;

         a {
            opacity: 1;
         }

         a:nth-child(1) {
            transition-delay: 0.3s;
         }
         a:nth-child(2) {
            transition-delay: 0.4s;
         }
         a:nth-child(3) {
            transition-delay: 0.5s;
         }
         a:nth-child(4) {
            transition-delay: 0.6s;
         }
      }
   }

   &__toogle-theme-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px calc(10px + 3vw);
      z-index: 2;

      @include media-mobile {
         font-size: 1.3em;
      }

      .switch-theme {
         background-color: var(--color-switch-button);
         width: 65px;
         height: 35px;
         border-radius: 50px;
         position: relative;
         border: none;
         margin: 0 10px;
         cursor: pointer;

         &::after {
            transition: transform 0.3s ease-in-out;
            position: absolute;
            display: block;
            content: "";
            background-color: var(--color-text-primary);
            width: 29px;
            height: 33px;
            border-radius: 100%;
            margin: 1px;
            top: 0;
         }
      }
      .light {
         &::after {
            background-color: white;
            transform: translateX(34px);
            border-radius: 5;
         }
      }
   }
}
