.side-nav {
    grid-column: container-start / center-start;
    grid-row: container-start / center-end;
    top: 0;
    left: 0;
   
    border-right: 2px solid var(--color-line);
    width: 80px;
    color: var(--color-text-tertiary);
    background-color: var(--color-background-side-nav);
    display: flex;
    
   

    &__logo-container {
        
        padding: 0 15px;
        width: 80px;
        height: 100%;
        display: flex;
        justify-content: center;
        .logo-folders {
            cursor: pointer;
            height: 50px;
            position: fixed;
            
            margin: 20px 0; 
            filter: var(--color-folder-default);


            &.logo-clicked {
                filter: var(--color-folder-clicked)
            }
        }
    
        
    }
    
   
  
   
}


.side-nav-active {
    width: 250px;
    opacity: 1;
    background-color: blue;
}
