


.side-nav {
    $color: var(--color-text-tertiary);
    $background: var(--color-background-side-nav);
    $border: var(--color-line);

    grid-column: container-start / center-start;
    grid-row: container-start / center-end;
    top: 0;
    left: 0;
   
    border-right: 2px solid $border;
    width: 80px;
    color: $color;
    background-color: $background;
    display: flex;
    
   

    &__logo-container {
        
        padding: 0 15px;
        width: 80px;
        height: 100%;
        display: flex;
        justify-content: center;
        .logo-folder {
            cursor: pointer;
            height: 50px;
            position: fixed;
            
            margin: 20px 0; 
            filter: var(--color-folder-default);


            &.logo-clicked {
                filter: var(--color-folder-clicked)
            }
        } 
    }
    
    &__overlay {
        .side-nav__folder {
            display:none;
    
        }
       
    }
  
   
}


.side-nav-active {
    // transition: width 0.2s ease-in-out;
    width: 250px;
    
    // background-color: blue;
    
 
    .side-nav__folder {
        display:flex;
        transition: opacity 10s ease-in-out;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
        margin:15px auto;
        // padding: 15px 10px 10px 30px;
        text-align: left;
        cursor: pointer;
        font-size: 18px;


        a { 
            padding: 3px 0;
            display: block;
            text-indent: 10px;
            inline-size: max-content;
        }

        .folder-clicked{

            span {
                transition: transform 0.1s ease-in-out;
                display: inline-block;
                transform: rotateZ(90deg);
            }

        }
    
        // background-color: red;
    
    }
}

// .side-nav__folder {
//     // transition: opacity 10s ease-in-out;
//     // flex-direction: column;
//     // align-items: flex-start;
//     // width: 80%;
//     // margin:15px auto;
//     // // padding: 15px 10px 10px 30px;
//     // text-align: left;
//     // cursor: pointer;
//     // font-size: 18px;

//     // // background-color: red;

//     a { 
//         padding: 3px 0;
//         display: block;
//         text-indent: 10px;
//         inline-size: max-content;
//     }

//     .folder-clicked{
  
//         span {
//             transition: transform 0.1s ease-in-out;
//             display: inline-block;
//             transform: rotateZ(90deg);
//         }

//     }
// }

