@import "../../scss/index.scss";

.overlay {
   left: 0;
   top: 0;
   position: absolute;
   width: 100vw;
   height: 0;
   font-size: 1.2em;
   background-color: var(--color-background-secondary-m);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   transition: all 0.3s;

   a {
      font-size: 1.2em;
      margin: 10px 0;
      height: 70px;
      width: 200px;
      opacity: 0;
   }

   &.overlay-open {
      height: 100vh;

      a {
         opacity: 1;
      }

      a:nth-child(1) {
         transition-delay: 0.3s;
      }
      a:nth-child(2) {
         transition-delay: 0.4s;
      }
      a:nth-child(3) {
         transition-delay: 0.5s;
      }
      a:nth-child(4) {
         transition-delay: 0.6s;
      }
   }

   @media screen and (min-width: 701px) {
      & {
         opacity: 0;
      }
   }
}
