.text-primary {
    color: var(--color-text-primary)
}

.text-secondary {
    color: var(--color-text-secondary)
}

.text-tertiary {
    color: var(--color-text-tertiary)
}

.text-quaternary{
    color: var(--color-text-quaternary)
}

.bracket-primary {
    color: var(--color-bracket-primary)
}

.bracket-secondary {
    color: var(--color-bracket-secondary)
}

.color-quotation-marks {
    color: var(--color-quotation-marks)
}

