
body {
  margin: 0;
  font-family: Menlo, Monaco, 'Courier New', monospace;
}


a {
  text-decoration: none;
  /* background-color: --var(--color-background-primary); */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}