
body {
    margin: 0;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    background-color: var(--color-background-primary); 
  }
  
  
  a {
    text-decoration: none;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  