html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Menlo, Monaco, 'Courier New', monospace;
    background-color: var(--color-background-primary); 
    font-size: 10x;
    color:white;
  }
  
  
  a {
    text-decoration: none;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  

  