.main-container{
    display: grid;
    grid-template-columns: [container-start] max-content [center-start] 1fr [center-end container-end] ;
    grid-template-rows: [container-start] minmax(70px, max-content)  [center-start] 1fr [center-end container-end]

    
  }

@mixin media-desktop {
  @media screen and (max-width: 2080px) {
      @content;
  }   
}
@mixin media-laptop {
  @media screen and (max-width: 1680px) {
      @content;
  }   
}
@mixin media-tablet {
  @media screen and (max-width: 1024px) {
      @content;
  }   
}
@mixin media-mobile{
  @media screen and (max-width: 700px) {
      @content;
  }   
}
@mixin media-mobileS {
  @media screen and (max-width: 410px) {
      @content;
  }   
}

@mixin container-basic($font-size) {
  grid-column: center-start / center-end;
  grid-row: center-start/ [container-end];
  min-height: fit-content;
  
  margin: 10px 20px;
  display: flex;
  font-size: $font-size;
  line-height: 1.3;
  max-height: calc(100vh - 120px);
  overflow: hidden;
}

@mixin responsiveText {
  font-size: font-size2(font-size-desktop);
  
  @media screen and (max-width: 1680px) {
    font-size: font-size2(font-size-laptop);
  };
  @media screen and (max-width: 1024px) {
    font-size: font-size2(font-size-tablet);
  };
  @media screen and (max-width: 700px) {
    font-size: font-size2(font-size-mobile);
  };
  @media screen and (max-width: 410px) {
    font-size: font-size2(font-size-mobileS);
  }   
  @content;   
}

@mixin responsiveTextS {
  font-size: font-size2(font-size-laptop);
  
  @media screen and (max-width: 1680px) {
    font-size: font-size2(font-size-tablet);
  };
  @media screen and (max-width: 1024px) {
    font-size: font-size2(font-size-mobile);
  };
  @media screen and (max-width: 700px) {
    font-size: font-size2(font-size-mobileS);
  };
  @media screen and (max-width: 410px) {
    font-size: 14px;
  }      
  @content;
}

@mixin responsiveTitle{
  font-size: font-size2(font-size-desktopL);
 
  @media screen and (max-width: 1680px) {
    font-size: font-size2(font-size-desktop);
  };
  @media screen and (max-width: 1024px) {
    font-size: font-size2(font-size-laptop);
  };
  @media screen and (max-width: 700px) {
    font-size: font-size2(font-size-tablet);
  };
  @media screen and (max-width: 410px) {
    font-size: font-size2(font-size-mobile);
  }     
  @content; 
}