html {
    --color-background-primary: #011627;
    --color-background-secondary: #0B294A;
    --color-background-secondary-m: #000F1B;
    --color-text-primary: #00BFF9;
    --color-text-primary-m: #219FD5;
    --color-text-secondary: #D6DEEB;
    --color-text-tertiary: #87AFF4;
    --color-text-quaternary: #D3EED6;
    --color-text-quinary: #5ABEB0;
    --color-bracket-primary: #FFD700;
    --color-bracket-secondary: #DA70D6;
    --color-quotation-marks: #6BFF81;
    --color-line: #002D47;
}