html{
    --color-background-primary: #011627;
    --color-background-secondary: #0B294A;
    --color-background-secondary-m: #000F1B;
    --color-background-side-nav: #011627;
    --color-text-primary: #00BFF9;
    --color-text-primary-m: #219FD5;
    --color-text-secondary: #D6DEEB;
    --color-text-tertiary: #87AFF4;
    --color-text-quaternary: #D3EED6;
    --color-text-quinary: #5ABEB0;
    --color-bracket-primary: #FFD700;
    --color-bracket-secondary: #DA70D6;
    --color-quotation-marks: #6BFF81;
    --color-line: #219fd545;
    --color-folder-default: invert(37%) sepia(19%) saturate(1101%) hue-rotate(159deg) brightness(87%) contrast(91%);
    --color-folder-clicked: invert(76%) sepia(13%) saturate(1365%) hue-rotate(172deg) brightness(102%) contrast(95%);
    --color-switch-button: rgb(243, 243, 243);

};

html[data-theme="light"] {
  --color-background-primary: #FFFFFF;
  --color-background-secondary: #FFFFFF; // czesc side nava po rozwinieciu
  --color-background-secondary-m: rgb(243, 243, 243);  
  --color-background-side-nav: #2c2c2c;  // side-nav 
  --color-text-primary: #2f86d2; // kolor rows i glowny kolor tekstu
  --color-text-primary-m: #1857a4; // kolor linkow po kliknieciu
  --color-text-new-file: #189b2c; // to sa poliki ktore nie zostaly dodane do gita
  --color-text-secondary: #828282;
  --color-text-tertiary: #B1108E;
  --color-text-quaternary: #A44185;
  --color-text-quinary: #034c7c; // tekst w readme ##
  --color-bracket-primary: #0431fa;
  --color-bracket-secondary: #319331;
  --color-quotation-marks: #d86db6;;
  --color-line: #219fd545;
  --color-folder-default: invert(37%) sepia(19%) saturate(1101%) hue-rotate(159deg) brightness(87%) contrast(91%);
  --color-folder-clicked: invert(76%) sepia(13%) saturate(1365%) hue-rotate(172deg) brightness(102%) contrast(95%);
  --color-switch-button: #011627;
};

$font-sizes: (
  "font-size-mobileS": 14px,
  "font-size-mobile": 26px,
  "font-size-tablet": 32px,
  "font-size-laptop": 36px,
  "font-size-desktop": 40px,
  "font-size-desktopL": 44px
);

@function font-size($font-size-style) {
  @return map-get($font-sizes, $font-size-style);
};


$font-sizes-projects: (
  "font-size-mobileS": 14px,
  "font-size-mobile": 20px,
  "font-size-tablet": 24px,
  "font-size-laptop": 28px,
  "font-size-desktop": 32px,
  "font-size-desktopL": 36px
);

@function font-size2($font-size-style) {
  @return map-get($font-sizes-projects, $font-size-style);
};
